#wrapper {
    margin-top: 20px;
    display: grid;
    place-items: center;
    align-items: space-between;
  }
.example-card {
    max-width: 400px;
    margin-bottom: 15px;
  }
  
  .example-header-image {
    background-image: url('https://media.licdn.com/dms/image/v2/D4D03AQHm2W55Vzxjug/profile-displayphoto-shrink_400_400/B4DZOc076SHQAg-/0/1733502944575?e=1749686400&v=beta&t=t-NDzaeBmqzaTqZgbyHRLDjQm7Ul2n5n5aVFZBalbjg');
    background-size: cover;
  } 
  .example-card-footer {
    padding: 16px;
  }