<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label>Nome:</label>
    <input formControlName="nome" />
    @if(form.get('nome')?.touched && form.get('nome')?.invalid){
      <div>
        @if(form.get('nome')?.errors?.['required']){
          <small>Nome é obrigatório</small>
        }
        @if(form.get('nome')?.errors?.['minLength']){
          <small>Nome deve ter no minimo 3 caracteres</small>
        }
      </div>
    }


  </div>

  <div>
    <label>Email:</label>
    <input formControlName="email" />
    @if(form.get('email')?.touched && form.get('email')?.invalid){
      <div>
        @if(form.get('email')?.errors?.['required']){
          <small>Email é obrigatório</small>
        }
        @if(form.get('email')?.errors?.['email']){
          <small>Email inválido</small>
        }
      </div>
    }

  </div>

  <div>
    <label>Senha:</label>
    <input type="password" formControlName="password" />
    @if(form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.invalid){
      <div>
        @if(form.get('password')?.errors?.['required']){
          <small>password é obrigatório</small>
        }
        @if(form.get('password')?.errors?.['min']){
          <small>Menores de 18 anos, não podem obter o cadastro</small>
        }
      </div>
    }

  </div>

  <div>
    <label>Confirmar Senha:</label>
    <input type="password" formControlName="confirmPassword" />
    @if(form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.invalid){
      <div>
        @if(form.get('password')?.errors?.['required']){
          <small>password é obrigatório</small>
        }
      </div>
    }
    @if (form.get('passwords')?.errors?.['senhasDiferentes'] && form.get('password')?.touched) {
      <div>
        <small>As senhas não são iguais</small>
      </div>
    }
  </div>

  <button type="submit" [disabled]="form.invalid">Enviar</button>
</form>
