<div class="container-features">
  <div class="cards-feature">
    <div class="card" style="width: 18rem">
      <div class="img">
        <img
          src="pasta.png"
          class="card-img-top card-img rounded mx-auto d-block"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          Organize dados de forma clara, segura e acessível. O app facilita o controle e a atualização das informações, reduzindo erros e aumentando a eficiência.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="img">
        <img
          src="clipboard.png"
          class="card-img-top card-img rounded mx-auto d-block"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          Gere relatórios completos e personalizados em poucos cliques. Visualize os dados com mais clareza e tome decisões com base em informações precisas.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="img">
        <img
          src="persona.png"
          class="card-img-top rounded mx-auto d-block"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          Mantenha um histórico detalhado e organizado de todas as atividades. Os registros ajudam no acompanhamento e garantem transparência no processo.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="example-button-row d-flex align-items-center justify-content-center mt-3">
  <button routerLink="/features" mat-button="filled">Testar Funcionalidades</button>
</div>
