<div class="container-features">
  <div class="cards-feature">
    <div class="card" style="width: 18rem">
      <div class="img">
        <img
          src="pasta.png"
          class="card-img-top card-img rounded mx-auto d-block"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="img">
        <img
          src="clipboard.png"
          class="card-img-top card-img rounded mx-auto d-block"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="img">
        <img
          src="persona.png"
          class="card-img-top rounded mx-auto d-block"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="example-button-row d-flex align-items-center justify-content-center">
  <button mat-button="filled">Começar</button>
</div>
