.botao {
  width: 230px;
  height: 50px;
  border: 2px solid #dd7b22;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #dd7b22;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
  text-align: center;
  &:hover {
    background-color: #dd7b22;
    color: #ffffff;
  }
  margin: 15px auto;
}
.secundario {
  border-color: #121212;
  color: #121212;
}