<div id="wrapper">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Caio Bernardo</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Prazer, me chamo Caio Bernardo sou aspirante a programação de 17 anos de idade. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.linkedin.com/in/caio-bernardo-45bb342b8/" target="_blank">
        <button mat-button>LINKEDIN</button>
      </a>
      <a href="https://github.com/Bernardo27dev" target="_blank">
        <button mat-button>GITHUB</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Foi tudo muito rápido</mat-card-title>
    </mat-card-header> 
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>curiosidade</mat-chip>
        <mat-chip>comentário</mat-chip>
        <mat-chip>sorte?</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>

