#wrapper {
  margin-top: 20px;
  display: grid;
  place-items: center;
}
.example-card {
  max-width: 400px;
  margin-bottom: 15px;
}

.example-header-image {
  background-image: url('https://media.licdn.com/dms/image/v2/D4D03AQE5VT3OjdT0qg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1730310055673?e=1749686400&v=beta&t=Zo3DogolJAw9bJ3ZS9eYVBHZCGf9LK4e-GgxG08B7HE');
  background-size: cover;
}

.example-card-footer {
  padding: 16px;
}
 
